.tabs li {
    border: 1px solid #ccc;
    border-right: none;
    padding: 0.5rem 0.5rem;
    background-color: #f2f2f2;
}

.tabs li:last-child {
    border-right: 1px solid #ccc;
}

.tabs a {
    display: block;
    padding: 1rem 1.5rem;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
}

.tabs a:hover,
.tabs a:focus,
.tabs a:active {
    background-color: #ddd;
}

.tab-content {
    display: none;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: #f2f2f2;
}

.tab-content h2 {
    margin-top: 0;
}

.header-h1 {
    font-size: 6rem;
    font-weight: bold;
    color: #000000;
    margin: 0;
    padding: 0;
    font-family: 'Menlo', monospace;
}

.header-h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.upload-box {
    font-size: 2rem;
    font-weight: bold;
    color: #ffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar {
    background-color: #2c3e50;
    border-radius: 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.navbar-item {
    color: #ffffff;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

.navbar-item:hover {
    background-color: #1a2930;
}

.navbar-brand {
    padding: 0.5rem 1rem;
}

.navbar-burger {
    color: #ffffff;
    padding: 0.5rem 1rem;
    display: none;
}

@media screen and (max-width: 1023px) {
    .navbar-menu {
        display: block;
        width: 100%;
    }

    .navbar-start,
    .navbar-end {
        flex: 1;
        justify-content: center;
    }

    .navbar-item {
        padding: 0.5rem;
    }

    .navbar-burger {
        display: block;
    }

    .navbar-burger span {
        display: block;
        height: 2px;
        margin: 0.25rem 0;
        background-color: #ffffff;
    }
}

#game:target,
#media:target,
#news:target {
    display: block;
}