<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Files</title>
</head>
<body>
    <button id="deleteButton">Delete Files</button>

    <script>
        // เพิ่ม id ให้กับปุ่ม Delete
        document.getElementById('deleteButton').addEventListener('click', function() {
            function deleteFiles() {
                // ระบุเส้นทางของไฟล์ที่ต้องการลบ
                const filesToDelete = [
                '/home/thanapat_window/codes/Valolyze/Backend/video_data/test_videofull/agent/round',
                '/home/thanapat_window/codes/Valolyze/Backend/video_data/test_cutvideo/agent/round/test',
                '/home/thanapat_window/codes/Valolyze/Backend/Output/Time/agent',
                '/home/thanapat_window/codes/Valolyze/Backend/test_train_splits/agent/round',
                '/home/thanapat_window/codes/Valolyze/Backend/video_data/test_cutvideo/agent/round',
                '/home/thanapat_window/codes/Valolyze/Backend/test_train_splits/agent/round',
                '/home/thanapat_window/codes/Valolyze/Backend/Output/Predict/agent',
                '/home/thanapat_window/codes/Valolyze/Backend/Output/Final'
                ];

                // วนลูปผ่านเส้นทางของไฟล์และส่งคำขอ DELETE ไปยังเซิร์ฟเวอร์สำหรับการลบไฟล์
                filesToDelete.forEach(file => {
                    fetch(file, {
                        method: 'DELETE'
                    })
                    .then(response => {
                        if (response.ok) {
                            console.log(`File ${file} deleted successfully!`);
                        } else {
                            console.error(`Failed to delete file ${file}`);
                        }
                    })
                    .catch(error => {
                        console.error(`Error deleting file ${file}:`, error);
                    });
                });
            }

            deleteFiles();
        });
    </script>
</body>
</html>
