<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clear Files</title>
</head>
<body>
    <button id="clearButton">Clear</button>

    <script>
        document.getElementById('clearButton').addEventListener('click', function() {
            function folders_to_clear() {
                // ระบุเส้นทางโฟลเดอร์ที่ต้องการลบ
                const foldersToClear = 
                    '/home/thanapat_window/codes/Valolyze/Backend/video_data/test_videofull/agent/round'
                    /*'/home/thanapat_window/codes/Valolyze/Backend/video_data/test_cutvideo/agent/round/test',
                    '/home/thanapat_window/codes/Valolyze/Backend/Output/Time/agent',
                    '/home/thanapat_window/codes/Valolyze/Backend/test_train_splits/agent/round',
                    '/home/thanapat_window/codes/Valolyze/Backend/video_data/test_cutvideo/agent/round',
                    '/home/thanapat_window/codes/Valolyze/Backend/test_train_splits/agent/round',
                    '/home/thanapat_window/codes/Valolyze/Backend/Output/Predict/agent',
                    '/home/thanapat_window/codes/Valolyze/Backend/Output/Final'
                ];*/

                fetch('/clear-folders', {
                    method: 'POST',
                    body: JSON.stringify({ directory: foldersToClear }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => {
                    if (response.ok) {
                        alert('All files cleared successfully!');
                    } else {
                        alert('Failed to clear files!');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Failed to clear files!');
                });
            }

            folders_to_clear();
        });
    </script>
</body>
</html>