<!DOCTYPE html>
<html>
<head>
    <title>Clear Files</title>
    <script>
        function clearFiles() {
            var folders = [
                '/home/thanapat_window/codes/Valolyze/Backend/video_data/test_videofull/agent/round',
                '/home/thanapat_window/codes/Valolyze/Backend/video_data/test_cutvideo/agent/round/test',
                '/home/thanapat_window/codes/Valolyze/Backend/Output/Time/agent',
                '/home/thanapat_window/codes/Valolyze/Backend/test_train_splits/agent/round',
                '/home/thanapat_window/codes/Valolyze/Backend/video_data/test_cutvideo/agent/round',
                '/home/thanapat_window/codes/Valolyze/Backend/test_train_splits/agent/round',
                '/home/thanapat_window/codes/Valolyze/Backend/Output/Predict/agent',
                '/home/thanapat_window/codes/Valolyze/Backend/Output/Final'
            ];

            folders.forEach(function(folder) {
                fetch('/delete?folder=' + encodeURIComponent(folder))
                    .then(response => {
                        if (response.ok) {
                            console.log('Files in ' + folder + ' deleted successfully.');
                        } else {
                            console.error('Failed to delete files in ' + folder + '.');
                        }
                    })
                    .catch(error => {
                        console.error('Error occurred while trying to delete files in ' + folder + ':', error);
                    });
            });
        }
    </script>
</head>
<body>
    <button onclick="clearFiles()">Clear Files</button>
</body>
</html>
